@charset "utf-8";

@import url("../css/index.css");
@import url("../script/index.js");



body{
    background-color: #000;
    overflow: hidden;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: none;
}
button{
    cursor: none;
    border: none;
}
img{
    vertical-align: bottom;
}
table{
    border-collapse: collapse;
}
.c_fix::before, .c_fix::after{
    content: "";
    display: block;
    clear: both;
}
/* html::-webkit-scrollbar, */
body::-webkit-scrollbar,
/* html::-webkit-scrollbar-track, */
body::-webkit-scrollbar-track,
/* html::-webkit-scrollbar-corner, */
body::-webkit-scrollbar-corner{
    background-color: red;
}
